/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.wrapper {
  min-width: 500px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .wrapper {
    min-width: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }
}
@media (min-width: 767px) {
  .wrapper {
    min-width: 767px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }
}
@media (min-width: 800px) {
  .wrapper {
    min-width: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    min-width: 1000px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
  }
}
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #619800;
  border-bottom: #F1F1F1;
}
@media (min-width: 767px) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
nav .logo a {
  width: 100%;
  background-color: #fff;
  border-radius: 0;
}
@media (min-width: 767px) {
  nav .logo a {
    background-color: #fff;
  }
}
@media (min-width: 800px) {
  nav .logo a {
    background-color: #fff;
  }
}
nav a {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #F1F1F1;
}
@media (min-width: 600px) {
  nav a {
    padding: 20px 0;
    font-size: 2rem;
  }
}
@media (min-width: 767px) {
  nav a {
    justify-content: center;
    font-size: 1.3rem;
    border-bottom: none;
    border-radius: 50px;
  }
}
@media (min-width: 800px) {
  nav a {
    font-size: 1.7rem;
  }
}
nav a:hover {
  background-color: #fff;
  color: #619800;
}
.footer {
  display: flex;
}
@media (min-width: 767px) {
  .footer nav {
    display: flex;
    padding: 0;
  }
}
.footer nav a {
  display: none;
}
@media (min-width: 767px) {
  .footer nav a {
    display: flex;
    justify-content: center;
  }
}
.footer nav p {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 20px 0;
}
@media (min-width: 767px) {
  .footer nav p {
    font-size: 1.5rem;
  }
}
html body.wrapper {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
html .header {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 767px) {
  html .header {
    display: flex;
    flex-direction: column;
  }
}
html .header img {
  display: none;
}
@media (min-width: 767px) {
  html .header img {
    display: flex;
    width: 100%;
  }
}
html .header .landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
html .header .landing h1 {
  font-size: 3rem;
  padding: 10% 5%;
}
@media (min-width: 767px) {
  html .header .landing h1 {
    padding: 5% 0;
  }
}
html .header .landing p {
  padding: 5% 5% 10% 5%;
}
@media (min-width: 600px) {
  html .header .landing p {
    font-size: 2rem;
  }
}
html .header .landing .button {
  display: flex;
  align-items: center;
  background-color: #619800;
  width: 80%;
  border-radius: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: 3%;
  text-decoration: none;
}
html .header .landing .button:hover {
  background-color: #fff;
  color: #619800;
}
@media (min-width: 600px) {
  html .header .landing .button {
    font-size: 2.5rem;
    margin-bottom: 10%;
  }
}
@media (min-width: 767px) {
  html .header .landing .button {
    width: 60%;
    margin: 0;
    padding: 2%;
    display: flex;
    font-size: 3rem;
    margin-bottom: 10%;
  }
}
@media (min-width: 800px) {
  html .header .landing .button {
    width: 60%;
    margin: 0;
    padding: 2%;
    display: flex;
    margin-bottom: 10%;
  }
}
html .header .landing .form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  html .header .landing .form {
    padding: 20px 10px;
  }
}
html .header .landing .form .memo {
  display: none;
}
@media (min-width: 767px) {
  html .header .landing .form .memo {
    display: flex;
    padding: 10px;
    width: 40%;
  }
}
html .header .landing .form input[type="text"] {
  width: 100%;
  padding: 2% 0;
  margin: 2% 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #81848E;
  font-style: italic;
  font-weight: bold;
  border-radius: 5px;
  color: rgba(35, 41, 59, 0.4);
}
@media (min-width: 767px) {
  html .header .landing .form input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.5rem;
    padding: 2% 0;
  }
}
html .header .landing .form textarea {
  font-display: start;
  padding: 2% 0;
  margin: 2% 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #81848E;
  font-style: italic;
  font-weight: bold;
  border-radius: 5px;
  color: rgba(35, 41, 59, 0.4);
}
@media (min-width: 767px) {
  html .header .landing .form textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.5rem;
    padding: 2% 0;
  }
}
html .header .landing .form input[type="submit"] {
  padding: 2% 0;
  margin: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #619800;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
html .header .landing .form input[type="submit"]:hover {
  background-color: #fff;
  color: #619800;
}
@media (min-width: 767px) {
  html .header .landing .form input[type="submit"] {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.5rem;
    padding: 2% 0;
  }
}
html .middle {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  html .middle {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10%;
  }
}
html .middle .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
html .middle .box i {
  width: 95%;
  height: 100px;
  font-size: 5rem;
  color: #fff;
  background: #619800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
@media (min-width: 600px) {
  html .middle .box i {
    width: 90%;
    margin: 0;
    padding: 5%;
    display: flex;
  }
}
@media (min-width: 767px) {
  html .middle .box i {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    font-size: 3rem;
    height: 100%;
  }
}
html .middle .box h2 {
  padding: 20px 0;
  width: 80%;
}
@media (min-width: 600px) {
  html .middle .box h2 {
    width: 85%;
    margin: 0;
    padding: 5%;
    display: flex;
  }
}
@media (min-width: 767px) {
  html .middle .box h2 {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    font-size: 2.5rem;
  }
}
html .middle .box p {
  padding: 20px 0;
  width: 80%;
}
@media (min-width: 600px) {
  html .middle .box p {
    width: 85%;
    margin: 0;
    padding: 5%;
    display: flex;
  }
}
@media (min-width: 767px) {
  html .middle .box p {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
  }
}
html .midContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 600px) {
  html .midContent {
    margin-bottom: 10%;
  }
}
@media (min-width: 767px) {
  html .midContent {
    margin-bottom: 15%;
  }
}
html .midContent .team {
  padding-bottom: 10%;
  border: 2px solid #F1F1F1;
  border-radius: 15px;
  justify-content: center;
  margin: 20px;
}
@media (min-width: 600px) {
  html .midContent .team {
    width: 40%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    margin: 10px;
  }
}
@media (min-width: 767px) {
  html .midContent .team {
    width: 30%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    margin: 10px;
  }
}
@media (min-width: 800px) {
  html .midContent .team {
    width: 20%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
    margin: 10px;
  }
}
html .midContent .team .boxTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #619800;
  border-radius: 10px;
}
@media (min-width: 600px) {
  html .midContent .team .boxTop {
    width: 100%;
  }
}
html .midContent .team .boxTop h2 {
  color: #fff;
}
@media (min-width: 600px) {
  html .midContent .team .boxTop h2 {
    font-size: 2rem;
    padding: 5% 0;
  }
}
@media (min-width: 800px) {
  html .midContent .team .boxTop h2 {
    font-size: 1.8rem;
  }
}
html .midContent .team .boxTop img {
  width: 100%;
  border-radius: 20px;
}
html .midContent .team .boxBottom {
  padding-bottom: 5%;
}
html .midContent .team .boxBottom p {
  padding: 2% 2%;
  font-size: 2rem;
}
