/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  line-height: 1.4;
}
.screen {
  margin: 0 auto;
}
.screen .container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
nav.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  width: 100%;
  background: #619800;
  color: #454a59;
}
nav.navigation h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40%;
  padding-left: 2%;
}
@media (max-width: 800px) {
  nav.navigation h1 {
    display: flex;
    justify-content: center;
    padding: 2% 0 0 0;
  }
}
nav.navigation h1 a {
  text-decoration: none;
  color: aliceblue;
}
@media (max-width: 500px) {
  nav.navigation h1 a {
    display: flex;
    justify-content: center;
    align-content: end;
  }
}
@media (max-width: 800px) {
  nav.navigation h1 {
    width: 80%;
    margin: 0 auto;
  }
}
nav.navigation ul.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  color: #454a59;
  padding-right: 2%;
}
@media (max-width: 500px) {
  nav.navigation ul.links li {
    padding: 3.5% 0 0 0;
  }
}
nav.navigation ul.links li a {
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 800px) {
  nav.navigation ul.links li a {
    font-size: 1rem;
  }
}
nav.navigation ul.links button.nav-btn {
  border: 1rem solid #6c93d1;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
  background: #6c93d1;
  cursor: pointer;
}
@media (max-width: 800px) {
  nav.navigation ul.links button.nav-btn {
    border: none;
    color: #454a59;
    border: 1rem;
  }
}
@media (max-width: 500px) {
  nav.navigation ul.links button.nav-btn {
    padding: 3% 0 0 0;
    display: flex;
    align-content: center;
    background: none;
  }
}
@media (max-width: 800px) {
  nav.navigation ul.links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0;
  }
}
@media (max-width: 500px) {
  nav.navigation ul.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 800px) {
  nav.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  nav.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-top: 1.5rem solid #ffffff;
  width: 100%;
  background: #619800;
  height: 10vh;
  color: #fff;
  clear: both;
  position: relative;
  margin-bottom: -2000px;
}
nav.external-links {
  display: flex;
  justify-content: space-between;
}
nav.external-links ul {
  display: flex;
}
nav.external-links ul li {
  display: flex;
  justify-content: space-between;
}
nav.external-links ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}
.main-img {
  width: 100%;
  margin: 0 auto;
}
figure.landing-img {
  padding-bottom: 2rem;
}
img.main-img {
  opacity: 100%;
  filter: blur(3px);
}
div.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}
@media (max-width: 800px) {
  div.centered {
    top: 30%;
    left: 50%;
    font-size: 1.5rem;
  }
}
div.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
div.call-to-action .divide-call-to-action {
  border: 0.5rem solid rgba(255, 0, 0, 0);
}
@media (max-width: 800px) {
  div.call-to-action .divide-call-to-action {
    width: 100rem;
  }
}
div.call-to-action button.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  border: 1rem solid #6c93d1;
  border-radius: 2rem;
  background: #6c93d1;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  width: 30rem;
  cursor: pointer;
}
div.call-to-action button.btn a {
  text-decoration: none;
  color: #ffffff;
}
.container {
  height: 100%;
}
@media (max-width: 800px) {
  .container {
    height: 100%;
  }
}
.container div h1.how-iw {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 4rem;
  border-bottom: 0.2rem dashed #619800;
  border-width: 50%;
}
.middle {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .middle {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .middle {
    display: flex;
  }
}
.middle .box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 2%;
  width: 20%;
  border: 1.5rem solid rgba(0, 0, 0, 0);
}
@media (max-width: 800px) {
  .middle .box {
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
}
.middle .box i {
  width: 100%;
  height: 8vh;
  font-size: 5rem;
  color: #fff;
  background: #619800;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
@media (max-width: 800px) {
  .middle .box i {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 4vh;
  }
}
@media (max-width: 500px) {
  .middle .box i {
    font-size: 3rem;
    height: 6vh;
  }
}
.middle .box h2 {
  padding: 3% 0;
  width: 100%;
  font-size: 2rem;
  max-height: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .middle .box h2 {
    font-size: 3rem;
    padding-left: 3%;
  }
}
.middle .box p {
  padding: 3% 0;
  font-size: 1.1rem;
  border: 1rem solid rgba(0, 0, 0, 0);
}
@media (max-width: 500px) {
  .middle .box {
    width: 90%;
    margin: 5% 2%;
    font-size: 1.8rem;
  }
}
.middle .arrowRight {
  display: flex;
  align-items: center;
}
.middle .arrowRight figure.arrow-right img.arrow-right {
  max-width: 6rem;
}
@media (max-width: 800px) {
  .middle .arrowRight figure.arrow-right img.arrow-right {
    display: none;
    margin: 0 auto;
    max-width: 6rem;
  }
}
.middle .arrowRight i {
  width: 100%;
  height: 6rem;
  font-size: 5rem;
  color: #619800;
  display: flex;
  align-content: center;
  border-radius: 50px;
}
@media (max-width: 800px) {
  .middle .arrowRight i {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .middle .arrowRight i {
    display: none;
  }
}
.middle .arrowDown {
  display: none;
  align-items: center;
}
@media (max-width: 800px) {
  .middle .arrowDown {
    display: flex;
  }
}
.middle .arrowDown figure.arrow-down img.arrow-down {
  max-width: 6rem;
  max-height: 6rem;
}
@media (max-width: 800px) {
  .middle .arrowDown figure.arrow-down img.arrow-down {
    margin: 0 auto;
    max-width: 6rem;
    max-height: 6rem;
  }
}
.middle .arrowDown i {
  width: 100%;
  height: 6rem;
  font-size: 5rem;
  color: #619800;
  display: none;
  border-radius: 50px;
}
@media (max-width: 800px) {
  .middle .arrowDown i {
    display: none;
  }
}
@media (max-width: 500px) {
  .middle .arrowDown i {
    display: flex;
    justify-content: center;
  }
}
.team-container {
  padding: 0 2rem;
}
.team-container .team-column {
  float: left;
  width: 33.3%;
  border-radius: 2rem;
  border: 0.5rem solid #fafafa;
  margin-bottom: 1.6rem;
  padding: 0 0.4rem;
}
@media (max-width: 520px) {
  .team-container .team-column {
    display: flex;
    justify-content: center;
    width: 22rem;
    border: 1rem solid #ffffff;
    margin-bottom: 1.6rem;
    padding: 0 0.4rem;
  }
}
.team-container .card {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.team-container .card img {
  max-width: 40%;
  border-radius: 30%;
}
.team-container .team-heading {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
}
.team-container .team-container::after,
.team-container .row::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 800px) {
  .team-container h2 {
    font-size: 2rem;
  }
}
.team-container .title {
  color: grey;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .team-container .title {
    font-size: 1rem;
  }
}
.team-container .description {
  font-size: 1rem;
}
.contact-container {
  max-width: 1080px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  padding: 2rem;
}
.contact-container h3 {
  text-align: center;
}
.contact-container input[type=text],
.contact-container select,
.contact-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-container input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-container input[type=submit]:hover {
  background-color: #45a049;
}
