footer {
    display: flex;
    
    // flex-direction: row;
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-top: 1.5rem solid #ffffff;
    width: 100%;
    background: #619800;
    height: 10vh;
    color: #fff;
    // position: relative;
    clear: both;
    position: relative;
    // height: 200px;
    margin-bottom: -2000px;
  
   
  }
  // footer{
  //   display: flex;
  //   flex-direction: column;
  // }
  
  nav.external-links{
    display: flex;
    justify-content: space-between;
  }
  
  nav.external-links ul{
    display: flex;
    li {
      display: flex;
    justify-content: space-between;
     a{
      text-decoration: none;
      color: white;
      display: flex;
    justify-content: space-between;
     }

    }
  }
