<<<<<<< HEAD
// .footer{
//     margin: 0;
//     display: flex;
//     justify-content: center;
//     width: 100%;

// }

.footer{
    display: flex;
    

    // @media @tablet{
    //     flex-direction: column;
    // }

    nav{
        
        @media @tablet {
            display: flex;
            padding: 0;
        }
        
        a{
            display: none;
    
            @media @tablet{
                display: flex;
                justify-content: center;
            }
        }
    
        p{
            display: flex;
            justify-content: center;
            color: @nav-font;
            padding: 20px 0;

            @media @tablet{
                font-size: 1.5rem;
            }
    
        }
    }

}
=======
footer {
    display: flex;
    justify-content: center;
    padding: 3.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1.5rem solid rgb(255, 255, 255);
    width: 100%;
    background: #619800;
    height: 10vh;
  }
>>>>>>> e4f26853291ae1abf8b714ddd2dcca63f4574098
