footer {
    display: flex;
    // flex-direction: row;
    flex-direction: column;
    justify-content: center;
    padding: 3.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1.5rem solid rgb(255, 255, 255);
    width: 100%;
    background: #619800;
    height: 10vh;
    color: #fff;
  
   
  }
  // footer{
  //   display: flex;
  //   flex-direction: column;
  // }
  
  nav.external-links{
    display: flex;
    justify-content: space-between;
  }
  
  nav.external-links ul{
    display: flex;
    li {
      display: flex;
    justify-content: space-between;
     a{
      text-decoration: none;
      color: white;
      display: flex;
    justify-content: space-between;
     }

    }
  }
