

html {
    border: 2px dashed green;

    body.wrapper{
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            @media @medium-device{
                .medium-devices(100%, 0, 0);
            }
            
        }

        .header{
            display: flex;
            flex-direction: column-reverse;
            // border: 2px dashed red;
            
            
            img{
                display: none;
            }

            .landing{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 20px;

                h1{
                    font-size: 3rem;
                    padding: 10% 5%;
                }

                p{
                    padding: 5% 5% 10% 5%;
                }

                .button{
                    .custom-btn(60%, 10%, 20px);
                    justify-content: center;
                    padding-top:10px;
                    
                }
                
            }
        }

}




