

html {
    border: 2px dashed green;

    body.wrapper{
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            
        }

        .header{
            display: flex;
            flex-direction: column-reverse;
            // border: 2px dashed red;
            
            
            @media @tablet{
                display: flex;
                flex-direction: column;
            }

            img{
                display: none;
                
                @media @tablet{
                    display: flex;
                    width: 100%;
                }
            }


            .landing{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 20px;

                h1{
                    font-size: 3rem;
                    padding: 10% 5%;

                    @media @tablet {
                        padding: 5% 0;
                    }
                }

                p{
                    padding: 5% 5% 10% 5%;

                    @media @medium-devices{
                        font-size: 2rem;
                    }
                }

                .button{
                    .custom-btn(60%, 10%, 20px);
                    justify-content: center;
                    padding-top:10px;
                    
                    @media @medium-devices{
                        font-size: 2rem;
                    }
                    
                    @media @tablet{
                        .custom-btn(30%, 0, 10px);
                        
                    }
                }
                
                .form{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    border: 2px dashed red;


                    input[type="text"]{
                        width: 100%;
                        padding: 2% 0;
                        margin: 2% 0;
                        font-family: 'Roboto', sans-serif;
                        font-size: 15px;
                        color: @contact-font;
                        font-style: italic;
                        font-weight: bold;
                        border-radius: 5px;
                        color: rgba(35, 41, 59, .4); 

                    }

                    textarea{
                        padding: 2% 0;
                        margin: 2% 0;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1rem;
                        color: @contact-font;
                        font-style: italic;
                        font-weight: bold;
                        border-radius: 5px;
                        color: rgba(35, 41, 59, .4);
                    }

                    input[type="submit"]{
                        padding: 2% 0;
                        margin: 2% 0;
                        .custom-btn();
                    }
                }
                
            }
        }

}




