.main-img {
  width: 100%;
  margin: 0 auto;
}
figure.landing-img {
    // border: 0.5rem solid red;
    padding-bottom: 2rem;
    // height: 540px;
    // opacity: 40%;
  }
  img.main-img {
    opacity: 100%;
    filter: blur(3px);
    // display: none;
  }

div.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1.5rem solid rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  @media @tablet {
    top: 30%;
    left: 50%;
    font-size: 1.5rem;
  }

}

div.call-to-action{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  // align-content: flex-start;
  flex-wrap: wrap;
  // padding-bottom: 2rem;
  .divide-call-to-action{
    border: 0.5rem solid rgba(255, 0, 0, 0);
    // width: 33.33%;
    @media @tablet {
      width: 100rem;

    }
  }

  button.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    border: 1rem solid #6c93d1;
    border-radius: 2rem;
    background: #6c93d1;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    
    // padding: 0.5em;
    // padding-bottom: 2rem;
    width: 30rem;
    //  width: 33.33%;
    cursor: pointer;
    a{
      text-decoration: none;
      color: #ffffff;
    }
  
  }
}
